.container.header_nav
    a(href="index.html").logo
        img(src="../assets/logo.jpg", alt="" loading="lazy")
        p Dmytro</br> Onofriienko
    
    .hero_info 
        .hero_links
            a(href='https://t.me/dmitriyonofrienko' target="_blank") Telegram
            a(href='mailto:dmitriyonofrienko@gmail.com' target="_blank") Email
            a(href='https://www.linkedin.com/in/dmitriyonofrienko/' target="_blank") LinkedIn
            a(href='../assets/Dmytro Onofriienko – Designer CV.pdf' target="_blank") CV

        .lang_block
                    a.lang_link(href="../index.html") UA
                    a.lang_link.link_active(href="index.html") EN

.grad_line