.container.header_nav
    a(href="index.html").logo.fade-up(data-delay="20")
        img(src="../assets/logo.jpg", alt="" loading="lazy")
        p Dmytro</br> Onofriienko
    
    .hero_info 
        .hero_links
            a(href='https://t.me/dmitriyonofrienko' target="_blank").fade-up(data-delay="120") Telegram
            a(href='mailto:dmitriyonofrienko@gmail.com' target="_blank").fade-up(data-delay="140") Email
            a(href='https://www.linkedin.com/in/dmitriyonofrienko/' target="_blank").fade-up(data-delay="160") LinkedIn
            a(href='../assets/Dmytro Onofriienko – Designer CV.pdf' target="_blank").fade-up(data-delay="180") CV

        .lang_block
                    a.lang_link(href="../index.html").fade-up(data-delay="200") UA
                    a.lang_link.link_active(href="index.html").fade-up(data-delay="220") EN

.grad_line.fade-up(data-delay="180")