include __head
    title United Porte

    body
        include __case_back
        
        .case_head.hero
            .hero_head
                .head
                    h1 United Porte
                .tag
                    p Online furniture store in the USA
            .paragraph
                p United Porte is a manufacturer and supplier of doors, windows, and furniture in the USA. The main task was to update the website design with a focus on enhancing product customization. Now, users can not only change the size and color of selected items but also adjust additional parameters such as glass type, locks, hinges, and more.
                p In addition to introducing new functionality, the redesign involved optimizing all pages of the online store to improve the user experience and increase conversion rates.
            .empty
            .data
                .data_item
                    .data_number 
                        p ↑12.4%
                    .data_description 
                        p Number of pages per session
                .data_item
                    .data_number 
                        p ↑20.37%
                    .data_description 
                        p Increase in conversions

        .disclose
            .disclose_addition
                .year 
                    p.tag Year 
                    p 2021-2022
                .position 
                    p.tag Role 
                    p UX/UI Designer
            .did
                p.tag What I did
                .did_list 
                    p Briefing
                    p User Research
                    p Wireframing
                    p Prototyping
                    p UX/UI Design
                    p Testing

        .case.centered.nbp.dullgray
            img(src="../assets/case_united/1.jpg", alt="")

        .case 
            img(src="../assets/case_united/15.jpg", alt="")
            
        .case_text 
            p On the category page, promotional banners are occasionally integrated into the product list to subtly inform customers about discounts and special offers. This approach helps draw attention to promotions without being overly intrusive.

        .case.centered.nbp.dullgray
            img(src="../assets/case_united/2.jpg", alt="")

        .case_text 
            p Previously, customers had to choose doors from a general category, but if a specific detail, such as the lock mechanism or hinges, didn’t fit, they had to search for another model in the overall list. This significantly complicated the user flow and made the selection process less convenient.
            p Therefore, a new feature has been added to the product page, allowing customers to customize doors by changing the hinges, glass type, lock type and design, as well as the color and material of the door. Now, buyers can easily adjust the doors to match their interior design and personal.

        .case.centered.nbp.dullgray
            img(src="../assets/case_united/3.jpg", alt="")

        .case
            img(src="../assets/case_united/9.jpg", alt="")
        
        .case_text 
            p A unique icon has been developed for each product category and subcategory to help future customers quickly understand the functionality of the doors. With visual cues, selecting the right mechanism becomes intuitive, significantly simplifying the process of searching and comparing models.
        
        .case
            img(src="../assets/case_united/5.jpg", alt="")

        .case.tablet.dullgray
            video(src="../assets/case_united/1.mp4" autoplay loop="true" muted playsinline)

        .case_double_image
            img(src="../assets/case_united/13.jpg", alt="")
            video(src="../assets/case_united/2.mp4" autoplay loop="true" muted playsinline)

        .case_text
            p The shopping cart also highlights the option to purchase additional services, such as door assembly or installation. This not only simplifies the purchasing process for the customer but also increases the revenue from offering these services.    

        .case.centered.dullgray
            img(src="../assets/case_united/4.jpg", alt="")

        .case_double_image
            .double.centered.dullgray
                img(src="../assets/case_united/7.jpg", alt="")

        .case
            img(src="../assets/case_united/8.jpg", alt="")


        //-page end
        .grad_line.mt80

        .container.pt40
            .next_work
                p Next project
                a(href="case_forwomaninscience.html").next_work_link
                    h1 For Woman In Science
                    svg.arrow-svg(width='55' height='55' viewbox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M22.4551 4L42 24.5L22.4551 45L18.4253 40.9633L31.3684 27.3878H2V21.6122H31.3684L18.4253 8.0367L22.4551 4Z' fill='black')



    script(src="../script.dev.js")