include __head
    title Cars4Bid 

    body
        include __case_back
        
        .case_head.hero
            .hero_head
                .head.animated-text
                    h1 Development of a website for a beauty industry equipment manufacturer

            .paragraph
                p Shimax is a manufacturer of equipment and accessories for the beauty sector. The new website focuses on showcasing the brand's products, highlighting their advantages.
                p The main users of the website fall into two categories: salon owners and managers who order products with delivery for daily use; international distributors who purchase products in bulk for resale in their respective countries.
                p The website must be stylish to attract salon owners and functional to ensure a seamless experience for distributors placing large orders.
        
        .disclose
            .disclose_addition
                .year 
                    p.tag Year 
                    p 2021
                .position 
                    p.tag Role 
                    p UX/UI Designer
            .did
                p.tag What I did
                .did_list 
                    p Briefing        
                    p Wireframing
                    p UX/UI Design
                    p User Research
                    p Prototyping
                    p QA        

        .case.centered.dullgray
            img(src="../assets/case_shemax/1.jpg", alt="")

        .case_double_image 
            img(src="../assets/case_shemax/2.jpg", alt="")
            img(src="../assets/case_shemax/3.jpg", alt="")
        
        .case_text 
            p Each product page is built using pre-designed components: a description, product gallery, video presentation, specifications, package contents, and key product features. This approach allows for the creation of unique pages that emphasize the distinctive qualities and benefits of each item.

        .case_double_image 
            .double.centered.dullgray 
                img(src="../assets/case_shemax/4.jpg", alt="")
            .double
                img(src="../assets/case_shemax/5.jpg", alt="")

        .case_text 
            p On the new website, we embrace the aesthetics of beauty through minimalism: using large, high-quality images that allow users to examine every detail and showcasing products in real salon interiors. This helps create an inspiring atmosphere, encouraging salon owners to enhance their own spaces.
            p The brand's assortment is not extensive, so rather than simply listing products, we focus on their visual appeal and key advantages to create a compelling presentation.

        .case_double_image 
            img(src="../assets/case_shemax/6.jpg", alt="")
            img(src="../assets/case_shemax/7.jpg", alt="")
        
        .case
            video(src="../assets/case_shemax/1.mp4" autoplay loop="true" muted playsinline)  

        .case_double_image
            img(src="../assets/case_shemax/8.jpg", alt="")  
            video(src="../assets/case_shemax/2.mp4" autoplay loop="true" muted playsinline)  
    
        .case.centered.dullgray.tablet
            video(src="../assets/case_shemax/3.mp4" autoplay loop="true" muted playsinline)
        
        .case 
            img(src="../assets/case_shemax/9.jpg", alt="")

        .case
            img(src="../assets/case_shemax/10.jpg", alt="")

        //-page end
        .grad_line.mt80

        .container.pt40
            .next_work
                p Next project
                a(href="case_testelium.html").next_work_link
                    h1 Testelium 
                    svg.arrow-svg(width='55' height='55' viewbox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M22.4551 4L42 24.5L22.4551 45L18.4253 40.9633L31.3684 27.3878H2V21.6122H31.3684L18.4253 8.0367L22.4551 4Z' fill='black')

    script(src="https://unpkg.com/lenis@1.1.21/dist/lenis.min.js")
    script(src="https://unpkg.com/split-type")
    script(src="../smooth-scrollbar.dev.js")
    script(src="../script.dev.js")

