include __head
    title United Porte

    body
        include __case_back
        
        .case_head.hero
            .hero_head
                .head.animated-text
                    h1 Design of the United Port Furniture Online Store
            .paragraph
                p United Port is a door sales company in the USA, based in New York. All sales are conducted through an existing website. As the company planned to expand its product range and introduce new services in the near future, it was necessary to add this functionality to certain pages and improve the site’s navigation.
                p An additional task was to optimize the existing features and fix bugs and inaccuracies on the website.
            .empty
            .data
                .data_item
                    .data_number.animated-chars  
                        p ↑12.4%
                    .data_description 
                        p Pages per session
                .data_item
                    .data_number.animated-chars  
                        p ↑20.37%
                    .data_description 
                        p Conversion rate increase
                .data_item
                    .data_number.animated-chars  
                        p ↓10.10%
                    .data_description 
                        p Bounce rate

        .disclose
            .disclose_addition
                .year 
                    p.tag Year 
                    p 2021-2022
                .position 
                    p.tag Role 
                    p UX/UI Designer
            .did
                p.tag What I did
                .did_list 
                    p Briefing
                    p User Research
                    p Prototyping
                    p UX/UI Design
                    p QA

        .case_text
            h2 Audit
            p At the first stage, I conducted an audit of the current website, analyzing it from a UX/UI perspective and identifying existing issues. The goal was to uncover obvious flaws that could reduce conversions and propose solutions to address them.
            p The audit resulted in documenting approximately 120 bugs and shortcomings. Each was evaluated based on the ratio of effort required to fix it versus the potential benefit. Priority issues were handed over to the development team for further action.
        
        .case_text
            h2 User Research
            p Before addressing the issues identified in the audit, I analyzed around 150 user behavior recordings via Hotjar, focusing on those who abandoned the site, to understand the possibly non-obvious difficulties they encountered.
            p Additionally, I reviewed about 50 contacts—users who completed the entire journey from first contact to purchase—to identify new opportunities for improving UX.
        
        .case_text
            h2 Feedback Analysis
            p I was primarily interested in feedback from users dissatisfied with their experience interacting with United Port. In comments mentioning the website, complaints mainly revolved around the shopping cart and the site’s performance speed.

        .case.simple 
            img(src="../assets/case_united/testimonials.jpg", alt="")

        .case_text
            h2 Prototyping and Design
            p The redesign focused on resolving the issues uncovered during research and adjusting the site’s structure to accommodate new product categories.
            p To speed up the process of populating mockups with real data, I used a small JS script that logged all real values—product names, prices, and image links—into the console. I saved this data from the console in JSON format, allowing me to automatically load real content into Figma mockups with a single click. This significantly accelerated the prototyping process.
        
        .case
            img(src="../assets/case_united/console.jpg", alt="")

        .case_text 
            h2 Homepage
            p This page retains the previous structure but now includes new categories, as the company is expanding its range to sell tables, mirrors, and bathroom and kitchen fixtures.
        
        .case.centered.united_color 
            img(src="../assets/case_united/general.jpg", alt="")

        .case 
            img(src="../assets/case_united/decor-1.jpg", alt="")

        .case_text 
            h2 Product Category Page
            p On the category page, promotional banners are periodically integrated into the general product list to subtly inform customers about special offers. This approach draws attention to promotions without being overly intrusive.

        .case.centered.united_color
            img(src="../assets/case_united/category.jpg", alt="")

        .case_text
            h2 Product Page 
            p Previously, customers had to choose doors from a general category, but if a detail—such as the lock mechanism or hinges—didn’t suit their needs, they had to search for another model in the full list. This significantly complicated the user flow and made the selection process less convenient
            p Thus, new functionality was added to the product page, allowing customers to customize doors by changing hinges, glass type, lock type and design, door color, and material. Now, buyers can easily tailor doors to their personal preferences.
            p Additionally, users can now conveniently order door assembly and installation services.

        .phone-wrapper
            img.phone-image(src="../assets/case_united/iphone-moc-2x.png" alt="")
            .parallax-container(data-direction="up")
                img.parallax-image(src="../assets/case_united/phone-3.jpg" alt="")       

        .case.centered.united_color
            img(src="../assets/case_united/item.jpg", alt="")

        .case
            img(src="../assets/case_united/mobile-item.jpg", alt="")
        
        .case_text 
            h2 Illustrations
            p With new product categories being added to the site, I designed icons in a new stylistic approach for the website. Previously, there were just images that were hard to discern at small sizes.
            p I also created a separate icon for each door category and subcategory, using visual cues to help customers quickly understand how the doors function.
        
        .case
            img(src="../assets/case_united/icons.jpg", alt="")

        .case.tablet.united_color
            video(src="../assets/case_united/navigation.mp4" autoplay loop="true" muted playsinline)

        .case_double_image
            img(src="../assets/case_united/mobile-menu.jpg", alt="")
            video(src="../assets/case_united/icon-slider.mp4" autoplay loop="true" muted playsinline)

        .case_text
            h2 Checkout Process
            p The customer’s cart now includes options to purchase additional services, such as door assembly or installation. This not only simplifies the buying process for clients but also increases revenue from offering these services.

        .phone-wrapper
            img.phone-image(src="../assets/case_united/iphone-moc-2x.png" alt="")
            .parallax-container(data-direction="up")
                img.parallax-image(src="../assets/case_united/phone-2.jpg" alt="")        
        
        .case.centered.united_color
            img(src="../assets/case_united/cart.jpg", alt="")

        .case
            img(src="../assets/case_united/mobile-3.jpg", alt="")


        //-page end
        .grad_line.mt80

        .container.pt40
            .next_work
                p Next project
                a(href="case_forwomaninscience.html").next_work_link
                    h1 For Woman In Science
                    svg.arrow-svg(width='55' height='55' viewbox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M22.4551 4L42 24.5L22.4551 45L18.4253 40.9633L31.3684 27.3878H2V21.6122H31.3684L18.4253 8.0367L22.4551 4Z' fill='black')



    script(src="https://unpkg.com/split-type")
    script(src="../script.dev.js")