include __head
    title Testelium

    body
        include __case_back
        
        .case_head.hero
            .hero_head
                .head.animated-chars
                    h1 Testelium
                .tag
                    p SMS Testing Platform
            .paragraph
                p Testelium provides a platform for evaluating the quality of SMS provider routes and generating detailed reports on the performance and efficiency of SMS communications.
                p The website was redesigned because the previous version lacked informativeness and failed to deliver the desired results for clients. The new site aimed to provide more comprehensive information about the platform, including pricing details and integration capabilities.
            .empty
            .data
                .data_item
                    .data_number 
                        p +25.9%
                    .data_description 
                        p Pages per visit
                .data_item
                    .data_number 
                        p +66.5%
                    .data_description 
                        p Duration of the visit

        .disclose
            .disclose_addition
                .year 
                    p.tag Year 
                    p 2020
                .position 
                    p.tag Role 
                    p UX/UI Designer
                    p Graphic Designer
                    p Developer
            .did
                p.tag What I did
                .did_list 
                    p Briefing
                    p UX/UI
                    p Visual Identity
                    p Prototyping
                    p Front-end
        
        .case.tablet.lightgray
            video(src="../assets/case_testelium/1.mp4" autoplay loop="true" muted playsinline)

        
        .case.centered.lightgray
            img(src="../assets/case_testelium/1.jpg", alt="")
        
        .case_double_image
            video(src="../assets/case_testelium/3.mp4" autoplay loop="true" muted playsinline)
            video(src="../assets/case_testelium/2.mp4" autoplay loop="true" muted playsinline)

        .case.centered.lightgray
            img(src="../assets/case_testelium/2.jpg", alt="")

        //-page end
        .grad_line.mt80

        .container.pt40
            .next_work
                p Next project
                a(href="case_aquaboon.html").next_work_link
                    h1 AquaBoon 
                    svg.arrow-svg(width='55' height='55' viewbox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M22.4551 4L42 24.5L22.4551 45L18.4253 40.9633L31.3684 27.3878H2V21.6122H31.3684L18.4253 8.0367L22.4551 4Z' fill='black')


    script(src="https://unpkg.com/split-type")
    script(src="../script.dev.js")

