include __head
    title Cars4Bid 

    body
        include __case_back
        
        .case_head.hero
            .hero_head
                .head
                    h1 Shemax
                .tag
                    p Manufacturer of equipment and accessories for the beauty industry.
            .paragraph
                p Shemax is a Ukrainian company that manufactures equipment and accessories for the beauty industry. A new website for the manufacturer of beauty equipment, presenting branded products with an emphasis on them.
                p The site has two main categories of users: 
                    ul
                        li Owners and managers of beauty salons who order goods with delivery for use in their daily work, 
                        li Foreign distributors who order bulk quantities of goods for sale in their regions.
                p Therefore, we had to make the site as beautiful as possible so that the owners would want to buy, and convenient so that distributors could make large purchases.

        .case.centered.lightblue
            img(src="../assets/case_shemax/1.jpg", alt="")

        .case.centered.lightblue
            img(src="../assets/case_shemax/2.jpg", alt="")

        .case.centered.lightblue
            img(src="../assets/case_shemax/3.jpg", alt="")

        .case.centered.lightblue
            img(src="../assets/case_shemax/4.jpg", alt="")

        .case.centered.lightblue
            img(src="../assets/case_shemax/5.jpg", alt="")

        .case.centered.lightblue
            img(src="../assets/case_shemax/7.jpg", alt="")

        //-page end
        .grad_line.mt80

        .container.pt40
            .next_work
                p Next project
                a(href="case_dzyga.html").next_work_link
                    h1 Dzyga Hub
                    svg.arrow-svg(width='55' height='55' viewbox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M22.4551 4L42 24.5L22.4551 45L18.4253 40.9633L31.3684 27.3878H2V21.6122H31.3684L18.4253 8.0367L22.4551 4Z' fill='black')
    
    script(src="../script.dev.js")
