include __head
    title Dzyga Hub 

    body
        include __case_back
        
        .case_head.hero
            .hero_head
                .head.animated-text
                    h1 Development of a corporate identity for the Dzyga Hub

            .paragraph
                p As part of the project, a cohesive visual system was developed to reflect the studio’s aesthetic and philosophy. The work included designing a memorable minimalist logo that conveys professionalism and attention to detail, as well as selecting typography and a color palette that ensures a balance between modernity and comfort.
        
        .disclose
            .disclose_addition
                .year 
                    p.tag Year 
                    p 2025
                .position 
                    p.tag Role 
                    p Art Director
                    p Graphic Designer
            .did
                p.tag Що робив
                .did_list         
                    p Visual Identity
                    p Brand Design System


        .case
            video(src="../assets/case_dzyga/q.mp4" autoplay loop="true" muted playsinline)

        .pt40 
        .pt40 
        
        .case
            img(src="../assets/case_dzyga/q1.jpg", alt="")


        .case_double_image
            img(src="../assets/case_dzyga/q2.jpg", alt="")
            img(src="../assets/case_dzyga/q3.jpg", alt="")
        
        .case
            img(src="../assets/case_dzyga/q4.jpg", alt="")

        .case_double_image
            img(src="../assets/case_dzyga/q5.jpg", alt="")
            img(src="../assets/case_dzyga/q6.jpg", alt="")

        .case
            img(src="../assets/case_dzyga/q7.jpg", alt="")


        //-page end
        .grad_line.mt80

        .container.pt40
            .next_work
                p Next project
                a(href="case_medlas.html").next_work_link
                    h1 Medlas
                    svg.arrow-svg(width='55' height='55' viewbox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M22.4551 4L42 24.5L22.4551 45L18.4253 40.9633L31.3684 27.3878H2V21.6122H31.3684L18.4253 8.0367L22.4551 4Z' fill='black')
    
    script(src="https://unpkg.com/lenis@1.1.21/dist/lenis.min.js")
    script(src="https://unpkg.com/split-type")
    script(src="../smooth-scrollbar.dev.js")
    script(src="../script.dev.js")