include __head
    title Medlas

    body
        include __case_back
        
        .case_head.hero
            .hero_head
                .head.animated-chars
                    h1 Creation of a website for a medical clinic in Kyiv
            
            .paragraph
                p The clinic still has an old website, the structure of which does not reflect the current list of services. The site lacks information about the doctors and promotions. The main goal of creating a new website is to expand the service offerings and update the design to give it a more modern look. An additional task is to improve the site's KPIs related to advertising performance.
        
        .disclose
            .disclose_addition
                .year 
                    p.tag Year 
                    p 2025
                .position 
                    p.tag Role 
                    p Art Director
                    p UX/UI Designer
            .did
                p.tag What I did
                .did_list 
                    p Briefing
                    p User Research
                    p UX/UI Design
                    p Visual Design
                    p Wireframing
                    p Prototyping
                    p QA

        
        .case.centered.skyblue
            video(src="../assets/case_medlas/1.mp4" autoplay loop="true" muted playsinline)

        .pt40
        
        .phone-wrapper
            img.phone-image(src="../assets/case_medlas/iphone-moc-2x.png" alt="")
            .parallax-container(data-direction="up")
                video(src="../assets/case_medlas/q2.mp4" autoplay loop="true" muted playsinline)  
        
        .pt40
        
        .case.centered.skyblue.tablet
            video(src="../assets/case_medlas/2.mp4" autoplay loop="true" muted playsinline)
        
        .case
            img(src="../assets/case_medlas/1.jpg", alt="")

        .case_double_image
            video(src="../assets/case_medlas/3.mp4" autoplay loop="true" muted playsinline)
            video(src="../assets/case_medlas/5.mp4" autoplay loop="true" muted playsinline)

        .case
            img(src="../assets/case_medlas/1.jpg", alt="")

        
        //-page end
        .grad_line.mt80

        .container.pt40
            .next_work
                p Next project
                a(href="case_c4b.html").next_work_link
                    h1 Cars4Bid
                    svg.arrow-svg(width='55' height='55' viewbox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M22.4551 4L42 24.5L22.4551 45L18.4253 40.9633L31.3684 27.3878H2V21.6122H31.3684L18.4253 8.0367L22.4551 4Z' fill='black')
    
    script(src="https://unpkg.com/lenis@1.1.21/dist/lenis.min.js")
    script(src="https://unpkg.com/split-type")
    script(src="../script.dev.js")