include __head
    title Cars4Bid 

    body
        include __case_back
        
        .case_head.hero
            .hero_head
                .head.animated-text
                    h1 Launch of an online car auction in the USA

            .paragraph
                p Cars4bid is an online auction platform for selling cars, boats, motorcycles, SUVs, and trucks in the US market. The task was to launch the first version of the platform with over 100,000 listings at the start, a personal user account, and a built-in total cost calculator.
                
            .empty
            .data
                .data_item
                    .data_number 
                        p 150K+
                    .data_description 
                        p Monthly visits
                .data_item
                    .data_number 
                        p 9.1
                    .data_description 
                        p Pages per visit
                .data_item
                    .data_number 
                        p 30.23%
                    .data_description 
                        p Bounce Rate
                .data_item
                    .data_number 
                        p ≈6:10
                    .data_description 
                        p Duration of the visit
        
        .disclose
            .disclose_addition
                .year 
                    p.tag Year 
                    p 2023-2025
                .position 
                    p.tag Role 
                    p UX/UI Designer
            .did
                p.tag What I did
                .did_list 
                    p Briefing
                    p User Research
                    p UX/UI Design
                    p Wireframing
                    p Prototyping


        .case.centered.skyblue.tablet
            video(src="../assets/case_c4b/1.mp4" autoplay loop="true" muted playsinline)

        .case
            img(src="../assets/case_c4b/2.jpg", alt="")

        .case.centered.skyblue.tablet
            video(src="../assets/case_c4b/2.mp4" autoplay loop="true" muted playsinline)


        .case_double_image
            img(src="../assets/case_c4b/7.jpg", alt="")
            img(src="../assets/case_c4b/8.jpg", alt="")
        
        .case
            img(src="../assets/case_c4b/3-1.jpg", alt="")
        .case
            video(src="../assets/case_c4b/q2-min.mp4" autoplay loop="true" muted playsinline)
        

        .case_double_image
            img(src="../assets/case_c4b/6.jpg", alt="")
            img(src="../assets/case_c4b/6-1.jpg", alt="")
        
        .case_text
            p The vehicle auction lot page in the USA provides all the necessary information about the car. It includes the make, model, year of manufacture, mileage, and VIN. Photos from different angles are displayed, including the interior and any possible damage. The technical condition, ownership history, insurance claims, and document status are described. The current bid, time remaining until the auction ends, and purchase conditions, including payment and delivery options, are also provided.

        .case_double_image
            .double.centered.skyblue
                img(src="../assets/case_c4b/4.jpg", alt="")
            .double.mobile.centered.skyblue
                video(src="../assets/case_c4b/3.mp4" autoplay loop="true" muted playsinline)

        .case
            img(src="../assets/case_c4b/5.jpg", alt="")

        //-page end
        .grad_line.mt80

        .container.pt40
            .next_work
                p Next project
                a(href="case_united.html").next_work_link
                    h1 United Porte
                    svg.arrow-svg(width='55' height='55' viewbox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M22.4551 4L42 24.5L22.4551 45L18.4253 40.9633L31.3684 27.3878H2V21.6122H31.3684L18.4253 8.0367L22.4551 4Z' fill='black')

    script(src="https://unpkg.com/lenis@1.1.21/dist/lenis.min.js")
    script(src="https://unpkg.com/split-type")
    script(src="../smooth-scrollbar.dev.js")
    script(src="../script.dev.js")
