include __head
    title Power Project Management

    body
        include __case_back

        .case_head.hero
            .hero_head
                .head
                    h1 Power Project Management
                .tag
                    p Solar Panel Installation in the USA
            .paragraph
                p PPM specializes in installing solar panels for residential properties across the United States. To help homeowners understand the financial benefits of going solar, we’ve developed an easy-to-use cost calculator and updated the old pages of the site.

        
        .case 
            video(src="../assets/case_ppm/3.mp4" autoplay loop="true" muted playsinline)

        .case_text
            p With this tool, users can estimate installation costs and potential savings. The calculation requires just two key inputs: the home’s address and the current monthly electricity bill. Using the address, the calculator retrieves data from a third-party API to determine the average annual solar energy available for that location. Additional parameters allow for further customization to ensure accuracy.

        .case
            img(src="../assets/case_ppm/1.jpg", alt="")

        .case.centered.tablet.lightblue
            video(src="../assets/case_ppm/4.mp4" autoplay loop="true" muted playsinline)

        .case_text
            p The total cost depends on the payment method whether the system is purchased outright or financed through a loan. It's important to highlight that with financing, the monthly loan payment is often lower than the current electricity bill, providing instant savings from day one.
            p Beyond cost estimates, the page also displays essential details such as available federal incentives, warranty coverage, and a projected savings schedule over the warranty period. Switching to solar has never been easier or more rewarding.

        .case.tablet.lightblue
            video(src="../assets/case_ppm/2.mp4" autoplay loop="true" muted playsinline)

        .case.tablet.lightblue
            video(src="../assets/case_ppm/1.mp4" autoplay loop="true" muted playsinline)
        
        .case.lightblue
            img(src="../assets/case_ppm/3.jpg", alt="")



        //-page end
        .grad_line.mt80

        .container.pt40
            .next_work
                p Next project
                a(href="case_aquaboon.html").next_work_link
                    h1 Aquaboon
                    svg.arrow-svg(width='55' height='55' viewbox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M22.4551 4L42 24.5L22.4551 45L18.4253 40.9633L31.3684 27.3878H2V21.6122H31.3684L18.4253 8.0367L22.4551 4Z' fill='black')

    script(src="../script.dev.js")
