include __head
    title Cars4Bid 

    body
        include __case_back
        
        .case_head.hero
            .hero_head
                .head
                    h1 Shemax
                .tag
                    p Manufacturer of Beauty Equipment and Accessories
            .paragraph
                p Shimax is a Ukrainian company specializing in the production of beauty equipment and accessories. The new website showcases the brand’s products with a strong emphasis on their quality and design.
                p The site serves two main user categories:
                    ul
                        li Salon owners and managers – who order products for daily use with direct delivery.
                        li International distributors – who purchase wholesale batches for resale in their respective regions.
                p The goal was to create a visually appealing website that encourages salon owners to buy while ensuring a seamless experience for distributors making bulk purchases.

        .case.centered.dullgray
            img(src="../assets/case_shemax/1.jpg", alt="")

        .case_double_image 
            img(src="../assets/case_shemax/d1.jpg", alt="")
            img(src="../assets/case_shemax/d2.jpg", alt="")
        
        .case_text 
            p Each page is filled with pre-prepared components: description, product gallery, video presentation, product characteristics, equipment, and important product features. 
            p This way, each page can be made unique and different from the others, emphasizing the features specific to each position.

        .case_double_image 
            .double.centered.dullgray 
                img(src="../assets/case_shemax/2.jpg", alt="")
            .double
                img(src="../assets/case_shemax/9.jpg", alt="")

        .case_double_image 
            img(src="../assets/case_shemax/q3.jpg", alt="")
            img(src="../assets/case_shemax/q4.jpg", alt="")
        
        .case
            video(src="../assets/case_shemax/1.mp4" autoplay loop="true" muted playsinline)  

        .case_double_image
            img(src="../assets/case_shemax/11.jpg", alt="")  
            video(src="../assets/case_shemax/10.mp4" autoplay loop="true" muted playsinline)  
    
        .case.centered.dullgray.tablet
            video(src="../assets/case_shemax/5.mp4" autoplay loop="true" muted playsinline)
        
        .case 
            img(src="../assets/case_shemax/q2.jpg", alt="")

        .case
            img(src="../assets/case_shemax/8.jpg", alt="")

        //-page end
        .grad_line.mt80

        .container.pt40
            .next_work
                p Next project
                a(href="case_dzyga.html").next_work_link
                    h1 Dzyga Hub
                    svg.arrow-svg(width='55' height='55' viewbox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M22.4551 4L42 24.5L22.4551 45L18.4253 40.9633L31.3684 27.3878H2V21.6122H31.3684L18.4253 8.0367L22.4551 4Z' fill='black')
    
    script(src="../script.dev.js")
