include __head
    title United Porte

    body
        include __case_back
        
        .case_head.hero
            .hero_head
                .head
                    h1 United Porte
                .tag
                    p Online furniture store in the USA
            .paragraph
                p United Porte is a manufacturer and supplier of doors, windows, and furniture in the United States. The task was to update the website design, giving users the opportunity to customize the selected products. Now you can change not only the size and color, but also other parameters: type of glass, locks, hinges, etc.
                p In addition to adding new functionality, other pages of the online store should be optimized during the redesign to increase conversion.
            .empty
            .data
                .data_item
                    .data_number 
                        p ↑12.4%
                    .data_description 
                        p Number of pages per session
                .data_item
                    .data_number 
                        p ↑20.37%
                    .data_description 
                        p Increase in conversions

        .case.centered.nbp.lightgray
            img(src="../assets/case_united/1.jpg", alt="")

        .case.centered.nbp.lightgray
            img(src="../assets/case_united/2.jpg", alt="")

        .case.centered.nbp.lightgray
            img(src="../assets/case_united/3.jpg", alt="")
        
        .case_double_image
            img(src="../assets/case_united/13.jpg", alt="")
            video(src="../assets/case_united/2.mp4" autoplay loop="true" muted playsinline)

        .case.tablet.lightgray
            video(src="../assets/case_united/1.mp4" autoplay loop="true" muted playsinline)

        .case_double_image
            img(src="../assets/case_united/6.jpg", alt="")
        

        .case.centered.lightgray
            img(src="../assets/case_united/4.jpg", alt="")

        .case.centered.lightgray
            img(src="../assets/case_united/7.jpg", alt="")

        .case
            img(src="../assets/case_united/9.jpg", alt="")

        .case
            img(src="../assets/case_united/8.jpg", alt="")


        //-page end
        .grad_line.mt80

        .container.pt40
            .next_work
                p Next project
                a(href="case_forwomaninscience.html").next_work_link
                    h1 For Woman In Science
                    svg.arrow-svg(width='55' height='55' viewbox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M22.4551 4L42 24.5L22.4551 45L18.4253 40.9633L31.3684 27.3878H2V21.6122H31.3684L18.4253 8.0367L22.4551 4Z' fill='black')



    script(src="../script.dev.js")