include __head
    title Dmytro Onofriienko

    body

        .container.header_nav
            a(href="index.html").logo.logo.fade-up
                img(src="../assets/logo.jpg", alt="" loading="lazy")
                p Dmytro</br> Onofriienko
            .hero_info 
                .hero_links
                    a(href='https://t.me/dmitriyonofrienko' target="_blank").fade-up Telegram
                    a(href='mailto:dmitriyonofrienko@gmail.com' target="_blank").fade-up Email
                    a(href='https://www.linkedin.com/in/dmitriyonofrienko/' target="_blank").fade-up LinkedIn
                    a(href='../assets/Dmytro Onofriienko – Designer CV.pdf' target="_blank").fade-up CV
                
                .lang_block
                    a.lang_link(href="../index.html").fade-up UA
                    a.lang_link.link_active(href="index.html").fade-up EN

        .container.hero_main
            h1.head_one.animated-text I’m a designer passionate about creating beautiful, functional solutions that make a difference for people. With 6 years of experience at a company focused on client projects.

        .logo_flow.fade-up
            .logo_flow_inner
                .flow_img
                    img(src="../assets/brand_logo_1.jpg", alt="" loading="lazy")
                .flow_img
                    img(src="../assets/brand_logo_2.jpg", alt="" loading="lazy")
                .flow_img  
                    img(src="../assets/brand_logo_3.jpg", alt="" loading="lazy")
                .flow_img  
                    img(src="../assets/brand_logo_4.jpg", alt="" loading="lazy")
                .flow_img  
                    img(src="../assets/brand_logo_5.jpg", alt="" loading="lazy")
                .flow_img  
                    img(src="../assets/brand_logo_6.jpg", alt="" loading="lazy")
                .flow_img  
                    img(src="../assets/brand_logo_7.jpg", alt="" loading="lazy")
                .flow_img  
                    img(src="../assets/brand_logo_8.jpg", alt="" loading="lazy")
                .flow_img  
                    img(src="../assets/brand_logo_9.jpg", alt="" loading="lazy")
                .flow_img  
                    img(src="../assets/brand_logo_10.jpg", alt="" loading="lazy")
                .flow_img  
                    img(src="../assets/brand_logo_11.jpg", alt="" loading="lazy")
            .logo_flow_inner
                .flow_img 
                    img(src="../assets/brand_logo_1.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="../assets/brand_logo_2.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="../assets/brand_logo_3.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="../assets/brand_logo_4.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="../assets/brand_logo_5.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="../assets/brand_logo_6.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="../assets/brand_logo_7.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="../assets/brand_logo_8.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="../assets/brand_logo_9.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="../assets/brand_logo_10.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="../assets/brand_logo_11.jpg", alt="" loading="lazy")

        .grad_line.fade-up

        .grid.container

            //- 1
            .grid_row

                //- Cars 4 bid
                a(href="case_c4b.html").col-5.item-card.fade-up.hover-target(data-cursor-text="150K+ visitors per month")
                    .image_wrap
                        img(src="../assets/thumbnail_cars4bid.jpg", alt="" loading="lazy")
                    p.case_name Cars4Bid
                    .case_description 
                        p Online car auction in the USA
                    .case_description 
                        p 2022-2025
                
                //- United
                a(href="case_united.html").col-5.item-card.fade-up.hover-target(data-cursor-text="↑20.37% Conversion Growth")
                    .image_wrap
                        video(src="../assets/thumbnail_united.mp4", autoplay loop="true" muted playsinline )
                    p.case_name United Porte 
                    .case_description 
                        p Online furniture store in the USA
                    .case_description 
                        p 2021-2022
                
                div#custom-cursor 
                    div.content
                        p.cursor-text

            //- 2
            .grid_row

                //- For Women in Science
                a(href="case_forwomaninscience.html").col-3.item-card.fade-up
                    .image_wrap
                        video(src="../assets/thumbnail_forwomaninscience.mp4", autoplay loop="true" muted playsinline )
                    p.case_name For Women in Science
                    .case_description 
                        p The L'Oréal-UNESCO Award
                    .case_description 
                        p 2023
                        
                //- Cowboy
                a(href="case_cowboy.html").col-3.item-card.fade-up.hover-target(data-cursor-text="From 0 to 16K+ visitors per month")
                    .image_wrap
                        video(src="../assets/thumbnail_cowboy.mp4", autoplay loop="true" muted playsinline)
                    p.case_name Cowboy Art
                    .case_description 
                        p Production and installation of advertising
                    .case_description 
                        p 2020

                //-PPM
                a(href="case_ppm.html").col-4.item-card.fade-up
                    .image_wrap
                       img(src="../assets/thumbnail_ppm.jpg", alt="" loading="lazy")
                    p.case_name Power Project Management
                    .case_description 
                        p Installation of solar panels in the USA
                    .case_description 
                        p 2021


            //- 3
            .grid_row
                //-Shemax
                a(href="case_shemax.html").col-5.item-card.fade-up
                    .image_wrap
                        img(src="../assets/thumbnail_shemax.jpg", alt="" loading="lazy")
                    p.case_name Shemax
                    .case_description 
                        p Manufacturer of equipment and accessories for the beauty industry
                    .case_description 
                        p 2021
                
                //-Testelium
                a(href="case_testelium.html").col-5.item-card.fade-up.hover-target(data-cursor-text="+25.9% Pages per visit")
                    .image_wrap
                        img(src="../assets/thumbnail_testelium.jpg", alt="" loading="lazy")
                    p.case_name Testelium
                    .case_description 
                        p SMS testing platform
                    .case_description 
                        p 2020

            
            //- 4
            .grid_row 
                //-Aquaboon
                a(href="case_aquaboon.html").col-4.item-card.fade-up
                    .image_wrap
                        img(src="../assets/thumbnail_aquaboon.jpg", alt="" loading="lazy")
                    p.case_name Aquaboon
                    .case_description 
                        p Manufacturer of filters and water purification systems
                    .case_description 
                        p 2024
                
                //-DzygaHub
                a(href="case_dzyga.html").col-3.item-card.fade-up
                    .image_wrap
                        img(src="../assets/thumbnail_dzyga.jpg", alt="" loading="lazy")
                    p.case_name Dzyga Hub
                    .case_description 
                        p Interior design and architecture studio
                    .case_description 
                        p 2025
                
                //-Medlas
                a(href="case_medlas.html").col-3.item-card.fade-up
                    .image_wrap
                        video(src="../assets/thumbnail_medlas.mp4", autoplay loop="true" muted playsinline)
                    p.case_name Medlas Medical Center
                    .case_description 
                        p Modern medical center in Kyiv
                    .case_description 
                        p 2025

        .grad_line.fade-up

        .footer.container
            p Dmytro Onofriienko | Design and code by me
            .hero_info 
                .hero_links.gray-text
                    a(href='https://t.me/dmitriyonofrienko' target="_blank") Telegram
                    a(href='mailto:dmitriyonofrienko@gmail.com' target="_blank") Email
                    a(href='https://www.linkedin.com/in/dmitriyonofrienko/' target="_blank") LinkedIn
                    a(href='../assets/Dmytro Onofriienko – Designer CV.pdf' target="_blank") CV

    script(src="https://unpkg.com/split-type")
    script(src="../script.dev.js")

