include __head
    title Dmytro Onofriienko

    body

        .container.header_nav
            a(href="index.html").logo
                img(src="../assets/logo.jpg", alt="" loading="lazy")
                p Dmytro</br> Onofriienko
            .hero_info 
                .hero_links
                    a(href='https://t.me/dmitriyonofrienko' target="_blank") Telegram
                    a(href='mailto:dmitriyonofrienko@gmail.com' target="_blank") Email
                    a(href='https://www.linkedin.com/in/dmitriyonofrienko/' target="_blank") LinkedIn
                    a(href='../assets/Dmytro Onofriienko – Designer CV.pdf' target="_blank") CV
                
                .lang_block
                    a.lang_link(href="../index.html") UA
                    a.lang_link.link_active(href="index.html") EN

        .grad_line
            
        .container.hero
            h1.head_one I HELP CLIENTS ACHIEVE THEIR BUSINESS GOALS THROUGH DESIGN.
            .hero_description
                p I have been developing websites and user interfaces since 2017. During my career, I have created websites and worked on internal projects for such companies as L'Oreal, Khiels, Nestle, Abbott, La Roche-Posay, and Vichy.

        .grad_line

        .logo_flow
            .left-rec
            .right-rec
            .logo_flow_inner
                .flow_img 
                    img(src="assets/brand_logo_1.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="assets/brand_logo_2.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="assets/brand_logo_3.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="assets/brand_logo_4.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="assets/brand_logo_5.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="assets/brand_logo_6.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="assets/brand_logo_7.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="assets/brand_logo_8.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="assets/brand_logo_9.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="assets/brand_logo_11.jpg", alt="" loading="lazy")
            .logo_flow_inner
                .flow_img 
                    img(src="assets/brand_logo_1.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="assets/brand_logo_2.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="assets/brand_logo_3.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="assets/brand_logo_4.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="assets/brand_logo_5.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="assets/brand_logo_6.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="assets/brand_logo_7.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="assets/brand_logo_8.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="assets/brand_logo_9.jpg", alt="" loading="lazy")
                .flow_img 
                    img(src="assets/brand_logo_11.jpg", alt="" loading="lazy")

        .grad_line

        .grid.container

            //- 1
            .grid_row

                //- Cars 4 bid
                a(href="case_c4b.html").col-5.fade-up(data-delay="0")
                    .image_wrap
                        img(src="../assets/thumbnail_cars4bid.jpg", alt="" loading="lazy")
                    p Cars4Bid
                    .case_description 
                        p Online car auction in the USA
                
                //- United
                a(href="case_united.html").col-5.fade-up(data-delay="100")
                    .image_wrap
                        img(src="../assets/thumbnail_united.jpg", alt="" loading="lazy")
                    p United Porte 
                    .case_description 
                        p Online furniture store in the USA

            //- 2
            .grid_row

                //- For Women in Science
                a(href="case_forwomaninscience.html").col-3.fade-up(data-delay="0")
                    .image_wrap
                        video(src="../assets/thumbnail_forwomaninscience.mp4", autoplay loop="true" muted playsinline )
                    p For Women in Science
                    .case_description 
                        p Website of a non-profit organization
                        
                //- Cowboy
                a(href="case_cowboy.html").col-3.fade-up(data-delay="100")
                    .image_wrap
                        video(src="../assets/thumbnail_cowboy.mp4", autoplay loop="true" muted playsinline)
                    p Cowboy Art
                    .case_description 
                        p Production and installation of advertising

                //-PPM
                a(href="case_ppm.html").col-4.fade-up(data-delay="200")
                    .image_wrap
                       img(src="../assets/thumbnail_ppm.jpg", alt="" loading="lazy")
                    p Power Project Management
                    .case_description 
                        p Installation of solar panels in the USA


            //- 3
            .grid_row
                //-Aquaboon
                a(href="case_aquaboon.html").col-5.fade-up(data-delay="0")
                    .image_wrap
                        img(src="../assets/thumbnail_aquaboon.jpg", alt="" loading="lazy")
                    p Aquaboon
                    .case_description 
                        p Manufacturer of filters and water purification systems
                
                //-Testelium
                a(href="case_testelium.html").col-5.fade-up(data-delay="100")
                    .image_wrap
                        img(src="../assets/thumbnail_testelium.jpg", alt="" loading="lazy")
                    p Testelium
                    .case_description 
                        p SMS testing platform

            
            //- 4
            .grid_row 
                //-Shemax
                a(href="case_shemax.html").col-4.fade-up(data-delay="0")
                    .image_wrap
                        img(src="../assets/thumbnail_shemax.jpg", alt="" loading="lazy")
                    p Shemax
                    .case_description 
                        p Manufacturer of equipment and accessories for the beauty industry
                
                //-DzygaHub
                a(href="case_dzyga.html").col-3.fade-up(data-delay="100")
                    .image_wrap
                        img(src="../assets/thumbnail_dzyga.jpg", alt="" loading="lazy")
                    p Dzyga Hub
                    .case_description 
                        p Interior design and architecture studio
                
                //-DzygaHub
                a(href="case_medlas.html").col-3.fade-up(data-delay="200")
                    .image_wrap
                        video(src="../assets/thumbnail_medlas.mp4", autoplay loop="true" muted playsinline)
                    p Medlas Medical Center
                    .case_description 
                        p Modern medical center in Kyiv

        .grad_line

        .footer.container
            p 1994-2025 | Dmytro Onofriienko
            .hero_info 
                .hero_links.gray-text
                    a(href='https://t.me/dmitriyonofrienko' target="_blank") Telegram
                    a(href='mailto:dmitriyonofrienko@gmail.com' target="_blank") Email
                    a(href='https://www.linkedin.com/in/dmitriyonofrienko/' target="_blank") LinkedIn
                    a(href='https://dmitriyonofrienko.notion.site/Dmytro-Onofriienko-CV-191697d6621d80d7a6e2c304340f60ba' target="_blank") CV

    script(src="../script.dev.js")

