.lightgray {
  background-color: #D1D5E1;
}

.lightblue {
  background-color: #C1D8E3;
}

.darkblue {
  background-color: #1A1D29;
}

.deepblue {
  background-color: #071C3A;
}

.fancypink {
  background-color: #C2BDFE;
}

.deepblack {
  background-color: #000000;
}

.dullgray {
  background-color: #EEEBE9;
}

.white {
  background-color: #ffffff;
}

.verylightgray {
  background-color: #fafafa;
}

.united_color {
  background-color: #F4F5F2;
}

.skyblue {
  background-color: #E0EEFA;
}

.case_double_image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 15px 15px 0 15px;
  gap: 15px;
}
.case_double_image img, .case_double_image video {
  border-radius: 6px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .case_double_image {
    grid-template-columns: 1fr;
    margin: 15px 15px 0 15px;
    gap: 15px;
  }
}
.case {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 15px;
  border-radius: 6px;
}
.case img, .case video {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

@media (max-width: 800px) {
  .case {
    margin: 15px;
  }
}
.double {
  display: flex;
  justify-content: center;
  align-items: start;
  height: auto;
  border-radius: 6px;
}
.double img, .double video {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

@media (max-width: 800px) {
  .double {
    margin: 0px;
  }
}
.centered {
  padding: 6vw;
}
.centered img, .centered video {
  max-width: 1000px;
}

@media (max-width: 800px) {
  .centered {
    padding: 0px;
    border: 1px solid #D1D5E1;
  }
}
.nbp {
  padding-bottom: 0px;
}

.nbp img, video {
  border-radius: 6px 6px 0 0;
}

.case_text {
  margin: 100px auto 100px auto;
  max-width: 800px;
}
.case_text p {
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .case_text {
    margin: 60px 15px 60px 15px;
  }
}
.mobile {
  max-width: 1920px;
}
.mobile img, .mobile video {
  max-width: 320px;
}

@media (max-width: 800px) {
  .mobile {
    padding: 5vw;
  }
}
.tablet {
  max-width: calc(1920px - 20vw);
  padding: 5vw 10vw;
}
.tablet img, .tablet video {
  background-color: #000000;
  padding: 20px;
  border-radius: 30px;
  max-width: 1000px;
  width: 100%;
}

@media (max-width: 768px) {
  .tablet img, .tablet video {
    padding: 10px;
    border-radius: 20px;
  }
}
.last {
  margin-bottom: 40px;
}