@charset "UTF-8";
@font-face {
  font-family: "cstm";
  src: url("fonts/cstm-regular.woff2") format("woff2"), url("fonts/cstm-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "cstm";
  src: url("fonts/cstm-medium.woff2") format("woff2"), url("fonts/cstm-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
::selection {
  background: #dbcec74b;
  /* Цвет фона выделенного текста */
}

::-moz-selection {
  background: #dbcec74b;
}

* {
  -webkit-font-smoothing: antialiased;
  font-family: "cstm", sans-serif;
}

.arrow-svg {
  margin-left: 10px;
  overflow: visible;
}

@media (max-width: 800px) {
  .arrow-svg {
    width: 30px;
    height: 30px;
  }
}
.arrow-svg path {
  transition: 0.2s;
}

strong {
  font-weight: 500;
}

a {
  position: relative;
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  transition: 0.2s;
}
a:visited {
  color: #000000;
}
a:hover {
  cursor: pointer;
  color: #EA3526;
  transition: 0.2s;
}
a:hover .arrow-svg path {
  fill: #EA3526;
  transform: translateX(10px);
  transition: transform 0.3s ease, fill 0.3s ease;
}

@media (max-width: 1000px) {
  a {
    font-size: 16px;
    line-height: 22px;
  }
}
.case_name {
  display: inline-block;
  position: relative;
  font-size: 24px;
  line-height: 32px;
}

.case_name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  transition: width 0.2s ease-in-out;
}

.item-card:hover .case_name::after {
  width: 100%;
  background-color: #ea362677;
}

.tab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  transition: width 0.2s ease-in-out;
}

.tab:hover::after {
  width: 100%;
}

img, a {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
}

#my-scrollbar {
  height: 100vh !important;
  width: 100vw !important;
}

.logo_block {
  display: block;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo p {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 700;
}

.logo img {
  width: 50px;
  height: 50px;
}

@media (max-width: 800px) {
  .logo img {
    width: 50px;
    height: 50px;
  }
}
.scrolled {
  backdrop-filter: blur(15px);
  background: rgba(246, 246, 246, 0.9);
  left: 30%;
  width: calc(100% - 62%);
  transition: ease 0.5s;
}

@media (max-width: 800px) {
  .scrolled {
    left: 9%;
    width: calc(100% - 20%);
  }
}
.row {
  display: grid;
  grid-template-columns: 100px 3fr 180px 4fr;
  width: 100%;
  padding: 20px 0px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.row p {
  font-weight: 500;
}

.row__link {
  display: grid;
  grid-template-columns: 100px 3fr 180px 4fr;
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid #000000;
}
.row__link:hover {
  color: rgba(0, 0, 0, 0.4);
}

p, li {
  font-size: 19px;
  line-height: 25px;
  margin: 0;
}

@media (max-width: 1000px) {
  p, li {
    font-size: 16px;
    line-height: 22px;
  }
}
.industry {
  margin-right: 20px;
}

.client {
  margin-right: 20px;
}

.container {
  margin: 15px;
  width: calc(100% - 30px);
}

@media (max-width: 800px) {
  .container {
    margin: 15px;
    width: calc(100% - 30px);
  }
}
h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: -1px;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 45px;
    line-height: 45px;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 34px;
    line-height: 37px;
  }
}
h2 {
  font-size: 30px;
  letter-spacing: -0.5px;
  line-height: 30px;
  font-weight: 500;
  margin: 15px 0 20px;
}

@media (max-width: 800px) {
  h2 {
    font-size: 24px;
    line-height: 24px;
    margin: 10px 0 15px;
  }
}
.case_head {
  margin: 40px 15px 60px;
}

@media (max-width: 800px) {
  .case_head {
    margin: 20px 15px 40px;
  }
}
.head_one {
  max-width: 1095px;
}

@media (max-width: 800px) {
  .head_one {
    font-size: 44px;
    line-height: 100%;
  }
}
@media (max-width: 440px) {
  .head_one {
    font-size: 36px;
    line-height: 100%;
  }
}
.head {
  margin-bottom: 20px;
  padding-right: 8vw;
}

@media (max-width: 800px) {
  .head {
    margin-bottom: 10px;
  }
}
.tag {
  max-width: 620px;
  color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .description, .industry {
    display: none;
  }
}
.grid {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
@media (max-width: 800px) {
  .grid {
    padding-top: 20px;
  }
}

.grid_row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 15px;
  margin-bottom: 60px;
}

@media (max-width: 800px) {
  .grid_row {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 30px;
  }
}
.image_wrap {
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 6px;
}
.image_wrap img, .image_wrap video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  transition: transform 0.4s ease;
  transform: scale(1.01);
}

@media (max-width: 800px) {
  .image_wrap img {
    object-fit: contain;
  }
}
a:hover .image_wrap img,
a:hover .image_wrap video {
  transition: transform 0.4s ease;
  transform: scale(1.04);
}

.case_description {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.case_description p {
  font-size: 17px;
  line-height: 23px;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-10 {
  grid-column: span 10;
}

@media (max-width: 800px) {
  .col-2, .col-3, .col-4, .col-5, .col-10 {
    grid-column: span 1;
  }
}
.grad_line {
  max-width: 1920px;
  margin: 0 15px;
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  background: #E6E6E6;
}

@media (max-width: 800px) {
  .grad_line {
    margin: 0 15px;
    width: calc(100% - 30px);
  }
}
.hero_main {
  padding-top: 18vh;
  display: flex;
  height: auto;
  justify-content: start;
  gap: 5px;
}

@media (max-width: 800px) {
  .hero_main {
    grid-template-columns: 1fr;
    margin-bottom: 30px;
    gap: 5px;
  }
}
.hero {
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 15px;
  padding-top: 30px;
}

@media (max-width: 800px) {
  .hero {
    grid-template-columns: 1fr;
    padding-top: 40px;
    margin-bottom: 30px;
    gap: 5px;
  }
}
.disclose {
  margin: 40px 15px 80px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 15px;
}

@media (max-width: 800px) {
  .disclose {
    margin: 20px 15px 20px;
    grid-template-columns: 1fr;
    padding-top: 40px;
    margin-bottom: 30px;
    gap: 30px;
  }
}
.disclose_addition {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 15px;
}

@media (max-width: 800px) {
  .disclose_addition {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.year, .position, .did {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.did_list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
}
.did_list p {
  display: inline;
  padding: 12px;
  background-color: #F4F5F2;
  border-radius: 12px;
  transition: 0.3s ease;
}
.did_list p:hover {
  background-color: #f4f5f287;
}

@media (max-width: 800px) {
  .did_list {
    gap: 5px;
  }
  .did_list p {
    padding: 8px;
    border-radius: 8px;
  }
}
.container.hero_main {
  height: calc(82vh - 260px);
  height: calc(82dvh - 260px);
}

@media (max-width: 800px) {
  .container.hero {
    height: auto;
    padding-top: 40px;
    margin-bottom: 30px;
  }
}
@media (max-height: 660px) {
  .container.hero {
    height: auto;
    padding-top: 40px;
    margin-bottom: 30px;
  }
}
.hero_description p, .hero_description li, .paragraph p, .paragraph li {
  margin-bottom: 10px;
  margin-top: 10px;
}

.hero_description {
  margin-top: -10px;
  padding-right: 3vw;
}

.hero_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  justify-content: right;
}

@media (max-width: 800px) {
  .hero_info {
    justify-content: left;
  }
}
.hero_links {
  margin-right: 40px;
}
.hero_links a {
  margin-right: 20px;
}

.hero_status {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 16px 1fr;
  align-items: center;
  gap: 10px;
}

.header_nav {
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 15px;
}

@media (max-width: 800px) {
  .header_nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }
}
.next_work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 80px;
}
.next_work p {
  color: #EA3526;
}
.next_work a:hover {
  color: #EA3526;
}

.next_work_link {
  display: flex;
  margin-top: 15px;
}
.next_work_link img {
  margin-left: 15px;
}

@media (max-width: 800px) {
  .next_work_link img {
    width: 30px;
    height: 30px;
  }
}
.mt80 {
  margin-top: 80px;
}

.pt40 {
  padding-top: 40px;
}

.data {
  width: 100%;
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px 20px;
}

@media (max-width: 800px) {
  .data {
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 40px 20px;
  }
}
.data_number p {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .data_number p {
    font-size: 30px;
    line-height: 30px;
  }
}
@keyframes logo-slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.logo_flow {
  display: flex;
  overflow: hidden;
  padding: 40px 0;
  white-space: nowrap;
  position: relative;
}

@media (max-width: 800px) {
  .logo_flow {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.logo_flow_inner {
  display: flex;
  animation: 50s logo-slide linear infinite;
  will-change: transform;
}

.flow_img img {
  max-height: 85px;
  margin: 0 20px;
  transition: 0.65s;
}
.flow_img img:hover {
  opacity: 0.5;
  transition: 1s;
}

@media (max-width: 800px) {
  .flow_img img {
    max-height: 60px;
  }
}
.footer {
  padding-top: 40px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.footer a {
  color: rgba(0, 0, 0, 0.4);
}
.footer a:hover {
  color: #EA3526;
}
.footer p {
  color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 800px) {
  .footer {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 25px;
  }
}
.lang_block {
  display: flex;
  flex-direction: column;
}
.lang_block a {
  font-size: 13px !important;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 5%;
}

@media (max-width: 800px) {
  .lang_block {
    position: absolute;
    right: 15px;
    top: 15px;
  }
}
.lang_link {
  width: 25px;
  height: 25px;
  text-align: center;
}

.link_active {
  color: #EA3526;
}

.animated-text .word {
  display: inline-block;
  opacity: 0;
  animation: fadeInUp 0.35s ease-in-out forwards;
  transform: translateY(4px);
  color: #EA3526;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    scale: 1;
    color: #000000;
    transform: translateY(0px);
  }
}
.fade-up {
  opacity: 0;
  animation: fade-up 1.2s forwards;
  animation-delay: 1s;
}

@keyframes fade-up {
  to {
    opacity: 1;
  }
}
.animated-chars .char {
  display: inline-block;
  opacity: 0;
  animation: fadeInUp 0.35s ease-in-out forwards;
  transform: translateY(4px);
  color: #EA3526;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    color: #000000;
    transform: translateY(0px);
  }
}
.grid_design_block {
  margin: 0 15px;
  width: calc(100% - 30px);
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
  gap: 15px;
}

@media (max-width: 800px) {
  .grid_design_block {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (min-width: 809px) {
  .hover-target {
    cursor: none !important;
    /* Скрываем стандартный курсор */
  }
}
#custom-cursor {
  position: fixed;
  /* Фиксируем относительно окна */
  pointer-events: none;
  /* Курсор не мешает взаимодействию */
  z-index: 9999;
  /* Поверх всех элементов */
  padding: 80px 0;
  width: 160px;
  background-color: #000000;
  color: #000000;
  display: none;
  /* Скрыт по умолчанию */
  text-align: center;
  line-height: 30px;
  /* Центрируем текст */
  border-radius: 5px;
  transform: translate(-50%, -50%);
  /* Центрируем по курсору */
  border-radius: 160px;
}
@media (max-width: 800px) {
  #custom-cursor {
    display: none;
  }
}

#custom-cursor .content {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#custom-cursor2 {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  width: 40px;
  height: 40px;
  display: none;
  transform: translate(-50%, -50%);
}

#custom-cursor2 .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}